<div>
<br />
<form class="form-run-add form-horizontal">
		<div class="form-group">
			<label class="col-sm-1 control-label">Illumina Data</label>
			<!-- <input type="text" name="illumina_id" value="<%=run ? run.get('illumina_id') : ''%>"/> -->
			<div class="col-sm-5">
				<select class="illumina col-md-1 form-control" placeholder="ada">
					<option value="" disabled selected>Select Illumina Data</option>
					<% _.each(illumina,function(illuminaData){ %>
					  <option value="<%=illuminaData.get('name')%>"> <%=illuminaData.get('name')%> </option>
					<%});%>
			    </select>
			</div>
		</div>
	<hr />
	<!-- <button type="submit" class="btn btn-primary"><%=run ? 'Update' : 'Add' %></button> -->
<!-- 	<% if(run){ %>
		<input type=hidden name="id" value="<%=run.id%>"</input>
		<button class="deleteButton btn btn-danger">Delete</button>
	<%};%> -->
	<div id="uploadView"></div>
</form>
</div>