<form class="form-run-add form-horizontal">
		<div class="form-group">
			<legend><%= run ? "Update Run" : 'Create Run' %></legend>
			<label class="cols-sm-4 control-label">Name</label>
			<div class="col-sm-4">
			<input class="form-control" type="text" name="name" value="<%=run ? run.get('name') : ''%>">
			</div>
		</div>
		<div class="form-group">
			<label class="cols-sm-2 control-label">Illumina Data</label>
			<!-- <input type="text" name="illumina_id" value="<%=run ? run.get('illumina_id') : ''%>"/> -->
			<div class="col-sm-4">
				<select class="illumina col-md-1 form-control">
					<% _.each(illumina,function(illuminaData){ %>
					  <option value="<%=illuminaData.id%>"> <%=illuminaData.get('name')%> </option>
					<%});%>
			    </select>
			</div>
		</div>
	<hr />
	<!-- <button type="submit" class="btn btn-primary"><%=run ? 'Update' : 'Add' %></button> -->
	<% if(run){ %>
		<input type=hidden name="id" value="<%=run.id%>"</input>
		<button class="deleteButton btn btn-danger">Delete</button>
	<%};%>
	<div id="uploadView"></div>
</form>